/* bookefect */
.custom-shape-divider-top-1749504365 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1749504365 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.custom-shape-divider-top-1749504365 .shape-fill {
    fill: #333446;
}

/* animaciones por scroll  */

#Target-Micro{
    view-timeline-name: --Target-Micror;
    view-timeline-axis: block;

    animation-timeline: --Target-Micror;
    animation-name: aparecer;
    animation-range: entry 10% cover 30%;
    animation-fill-mode: both;
}

#Target-Cap{
    view-timeline-name: --Target-Cap;
    view-timeline-axis: block;

    animation-timeline: --Target-Cap;
    animation-name: aparecer;
    animation-range: entry 20% cover 40%;
    animation-fill-mode: both;
}

#Target-Incri{
    view-timeline-name: --Target-Incri;
    view-timeline-axis: block;

    animation-timeline: --Target-Incri;
    animation-name: aparecer;
    animation-range: entry 30% cover 50%;
    animation-fill-mode: both;
}

#workersMainContainers{
    position: relative;
    width: 250px;
    transition: all 0.3s ease-in-out;

}

#workersMainContainers:hover{
    transform:
        perspective(1000px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0)
    ;
}

#workersMainImage{
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3/4;
    transition: all 0.3s ease-in-out;
}

#workersMainContainers:hover #workersMainImage{
    filter: brightness(0.5) blur(2px);

}


#workersInformation{
    position: absolute;
    background-color: #ffff;
    width: 230px;
    height: min(230px, auto);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    border-radius: 4px;
    padding: 4px;
}

#workersMainContainers:hover #workersInformation{
    bottom: 100px;
    opacity: 1;
}



@keyframes aparecer {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}